<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head.ejs') %>
    </head>
    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="page-content">
            <div class="single-item">
                <div class="left">
                    <img src="<%= game.thumbnail %> " alt="<%= game.name %> " />
                </div>
                <div class="right">
                    <h1><%= game.name %></h1>
                    <p><%= game.description %></p>
                    <span class="price"><%= game.price %></span>
                    <button class="buy">Add to cart</button>
                    <form action="delete/<%= game.id %>" method="POST">
                        <button class="delete" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('includes/footer.ejs') %>
    </body>
</html>
